# Biar file-file/folder ini ga ikut ke-commit
*.class
.vscode/
bin/
target/
/Praktikum 10/In-Lab/qjdbc_mhs_service/nbproject/private/
/Praktikum 10/In-Lab/jdbc_mhs_service/nbproject/private/
/Praktikum 10/In-Lab/jdbc_mhs_service/build/
/Praktikum 11/In-Lab/Modul_A/nbproject/private/
/Praktikum 11/In-Lab/Modul_A/build/
/Praktikum 11/In-Lab/Modul_A/dist/
/Praktikum 11/Tugas/Tugas_Modul_A/nbproject/private/
/Praktikum 11/Tugas/Tugas_Modul_A/build/
/Praktikum 11/Tugas/Tugas_Modul_A/dist/
